.container {
    background-color: #121212;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.article {
    display: grid;
    place-items: center;

    color: #fafafa;
}

.article h1 {
    font-size: 72px;
}

.article p {
    font-size: 21px;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #121212;
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;

    color: #fafafa;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
